.NavBar a {
  text-decoration: none;
  color: #4a4a4a;
}
.NavBar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #c4def1;
  min-width: 640px;
  font-family: AvenirNext-Bold;
  color: #4a4a4a;
  font-size: 16px;
}

.NavBar__Menu {
  display: flex;
  align-items: center;
}

.NavBar__Brand {
  flex-grow: 1;
  font-size: 24px;
}

.NavBar__Item {
  padding: 0rem 0.5rem;
}

.NavBar__Item__Active {
  border-bottom: 2px solid #8fb6d2;
}

.NavBar__Brand img {
  height: 30px;
}
.NavBar__Brand span {
  padding-left: 1rem;
}
